<!DOCTYPE html>
<html>
<head>
<title>Python-digit-image-Recognizer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="icon" 
     type="image/png" 
     href="http://flask.pocoo.org/static/logo/flask.png">
	 <!-- Header -->
<header class="w3-container w3-black w3-center w3-padding-20">
   <a href="https://github.com/gtonra89/Python-digit-image-Recognizer-" class="w3-hover-text-green"><i class="fa fa fa-github fa-5x"></i></a>
   <a href="/about" class="w3-hover-text-green" class="w3-hover-text-green"><i class="fa fa-info-circle fa-5x"></i></a>
</header>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
</style>
</head>
<body>

	
</head>
<body> 
		<div class="centered">
			<canvas id="canvas" width="280" height="280"></canvas>
		</div>
		<div class="centered">
			<input type="button" class="myButton" value="Analyse Input" style="">
			<input type="button" id="clearButton" value="Clear Canvas" style="">
		</div>
		<div class="centered">
			<h1 id="result"></h1>
		</div>
  		<script src="{{url_for('static',filename='jquery-3.2.0.min.js')}}"></script>
	    <script src="{{url_for('static',filename='index.js')}}"></script>
	    <script type="text/javascript">   
	   		$(".myButton").click(function(){
	   			$('#result').text('Analyzing one moment please ....');
	   			var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
	   			var canvasObj = document.getElementById("canvas");
	   			var img = canvasObj.toDataURL('image/png');
	   			$.ajax({type: "POST",url: $SCRIPT_ROOT + "/analyse/",data: img,
	   				success: function(data){
	   					$('#result').text('The Analysed Input result is: ' + data);
	   				}
	   			});
	   		});
	   </script>
</body>
</html>

